# Unity
/Unity/Library/
/Unity/Temp/
/Unity/Obj/
/Unity/*.csproj
/Unity/*.unityproj
/Unity/*.sln
/Unity/*.suo
/Unity/*.user
/Unity/*.userprefs
/Unity/*.pidb
/Unity/*.booproj

# NGUI
/Unity/Assets/Library/NGUI*

# mac
.DS_Store